body {
  font-family: IRMitra;
  font-size: 18px;
  line-height: 1.5;
  direction: rtl;
  background: #fff;
  margin: 0;
  padding: 0 10px;
  color: #333;
}
.content {
  text-align: justify;
}
.content .footnote-ref,
.content ol li {
  font-family: BMitra, Arial;
}
.content li p {
  margin-bottom: 0;
  font-family: IRMitra, Arial;
}
.content h1,
.content h2,
.content h3 {
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}
.content h1 {
  font-size: 36px;
}
.content h2 {
  font-size: 30px;
}
.content h3 {
  font-size: 24px;
}
.content p {
  margin: 0 0 10px;
}
.content li p,
.content ol p {
  margin-bottom: 0;
}
.content a {
  color: #428bca;
  text-decoration: none;
}
.content a:hover {
  color: #2a6496;
  text-decoration: underline;
}
.content strong {
  font-size: 90%;
}
.content ul,
.content ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 20px;
}
.content li[dir=ltr] {
  text-align: left;
}
.content figure {
  max-width: 100%;
  margin: 24px auto 50px;
  display: table;
}
.content figure img {
  max-width: 100%;
  box-shadow: 0 0px 5px #aaa;
}
.content figure figcaption {
  padding: 5px;
  font-size: 90%;
  margin: 0;
  text-align: center;
}
.content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-right: 5px solid #ddd;
  border-left: none;
}
.content blockquote[dir=ltr] {
  border-right: none;
  border-left: 5px solid #ddd;
}
.content blockquote p {
  line-height: 1.25;
}
.content blockquote p:last-child {
  margin-bottom: 0;
}
.content pre {
  direction: ltr;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 80%;
}
.content code {
  font-size: 90%;
  font-family: "Courier New", monospace;
}
.content pre code {
  font-size: inherit;
}
.content .ltr {
  direction: ltr;
}
.content .math {
  font-size: 90%;
}
.content div.math {
  text-align: center;
}
.content table {
  width: 100%;
  color: inherit;
  margin-bottom: 20px;
  font-size: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.content table thead {
  font-size: 90%;
}
.content table td[align=center],
.content table th[align=center] {
  text-align: center;
}
.content table td[align=left],
.content table th[align=left] {
  text-align: right;
}
.content table td[align=right],
.content table th[align=right] {
  text-align: left;
}
.content table tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
.content table td,
.content table th {
  padding: 8px;
  vertical-align: top;
}
.content table th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.content table td {
  border-top: 1px solid #ddd;
}
.content .footnotes p {
  margin: 0;
}
.content .footnotes hr {
  margin-top: 30px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}
.content a[rev=footnote] {
  display: none;
}
@media print {
  body {
    font-size: 20px;
    color: #000;
  }
  .content h1,
  .content h2,
  .content h3 {
    margin-top: 20px;
  }
  .content h1 {
    font-size: 28px;
  }
  .content h2 {
    font-size: 24px;
  }
  .content h3 {
    font-size: 20px;
  }
  .content figure {
    border: 3px solid #eee;
    border-bottom: none;
  }
  .content figure img {
    box-shadow: none;
  }
  .content figure figcaption {
    background: #eee;
  }
  .content table thead {
    font-size: 85%;
  }
}
